<!DOCTYPE html>
<html>
<head>
    <base href="/">
    <title>Advantage Elder Care</title>
    

   
   

    <!--script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/js/bootstrap.min.js" ></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"  integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/print.css' media="print"/>
>>>>>>> 3beb40a711245badb4675c0d0998a373f8307b6b
    <script src="https://cdnjs.cloudflare.com/ajax/libs/systemjs/0.19.24/system.js"></script>
    <script src="https://npmcdn.com/rxjs@5.0.0-beta.2/bundles/Rx.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/2.0.0-beta.14/angular2-polyfills.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/2.0.0-beta.14/angular2.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/2.0.0-beta.14/http.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/2.0.0-beta.14/router.js"></script>
    <script src="https://npmcdn.com/angular2@2.0.0-beta.14/es6/dev/src/testing/shims_for_IE.js"></script>
    <script src="/js/app/bundle.js"></script>

    
     <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment.min.js"></script-->
   

    <script src="/js/jquery/3.1.0/jquery.min.js"></script>
    <script src="/js/twitter-bootstrap/4.0.0-alpha/js/bootstrap.min.js" ></script>
    
    <script src="/js/systemjs/0.19.24/system.js"></script>
    <script src="/js/rxjs@5.0.0-beta.2/bundles/Rx.js"></script>
    <script src="/js/angular.js/2.0.0-beta.14/angular2-polyfills.min.js"></script>
    <script src="/js/angular.js/2.0.0-beta.14/angular2.js"></script>
    <script src="/js/angular.js/2.0.0-beta.14/http.js"></script>
    <script src="/js/angular.js/2.0.0-beta.14/router.js"></script>
    <script src="/js/angular.js/es6/dev/src/testing/shims_for_IE.js"></script>
    <script src="/js/app/bundle.js"></script>

    
     <script src="/js/moment.js/2.14.1/moment.min.js"></script>
     <link rel="stylesheet" href="/stylesheets/bootstrap/3.3.6/css/bootstrap.min.css">
     <link rel='stylesheet' href='/stylesheets/style.css' />
     <link rel='stylesheet' href='/stylesheets/print.css' media="print"/>


</head>
<body>
<my-app>Loading...</my-app>

<script>
    System.import('boot')
            .then(null, console.error.bind(console));   
</script>
</body>
</html>
